:root {
    --primary: #0281f8;
    --secondary: #f88102;
    --tiertiary: #2e7a02;
    --main-bg-color: #080808;
    --secondary-bg-color: #202020;
    --main-text: #ffffff;
    --main-sec: #e6a326;
    --code-quote-bg: #1D1F21; /* background color for quotes and code blocks */
    --copyright: #808080; /* copyright text color */
    --border-color: #000000;
}

body {
    min-height: 97vh; /*Unnecessary?*/
    color: var(--main-text);
    background-color: var(--main-bg-color);
    background-image: linear-gradient(145deg, #121212 25%, #161616 100%);
}

.main {
    max-width: 60em;
}

nav {
    justify-content: flex-end;
}
  

#post-next {
    float: right;
  }

  
hr {
    border: 0;
    height: 2px;
}


.blue-hr {
    background-image: linear-gradient(to right, transparent, var(--primary), transparent);
}


.orange-hr {
    background-image: linear-gradient(to right, transparent, var(--secondary), transparent);
}


.vertical-hr {
    width: 2px;
    background-image: linear-gradient(to bottom, transparent, var(--secondary), transparent);
}


.green-hr {
    background-image: linear-gradient(to right, transparent, var(--tiertiary), transparent);
}

@media only screen and (min-width: 400px) {

.social-links-header {
    justify-content: center;
  }
}

.terms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    list-style: none;
}


.flexible {
    display: flex;
    justify-content: center;
}

