<div class="social-links-footer">
  {{range .Site.Data.links.meta}}
  {{ partial "social-link" . }}
  {{end}}
  {{range .Site.Data.links.socials}}
  {{ partial "social-link" . }}
  {{end}}
  <div class="social-link">
  {{ with .OutputFormats.Get "rss" -}}
  {{ $ctx := dict "vendor" "simple-icons" "name" "rss"}}
    <a href="{{ .RelPermalink }}">{{ partial "icons/icon" $ctx }} RSS</a>
  {{ end }}
</div>
  
  {{ $currentPage := . }}
  {{ range .Site.Menus.sidebar }}
  <a class="nav-item{{if or ($currentPage.IsMenuCurrent "sidebar" .) ($currentPage.HasMenuCurrent "sidebar" .) }} active{{end}}" href="{{.URL}}"><div class="nav-item-title">{{ .Name }}</div></a>
  {{ end }}
</div>
